
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url 'glass.jpg'%>);">
  <div class="container">
    <h1>CookTails ! <strong>Do It Yourself</strong> !</h1>
    <p>The best ones</p>
    <a class="btn btn-ghost" href="#">Add YOUR cocktail</a>
  </div>
</div>   


<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= image_url 'cards.jpg'%>);">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" >
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
          </div>
          <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>

</div>